typing_extensions>=4.9.0  # ENSURE-LINE
pip-tools>=7.4.0  # ENSURE-LINE
pipdeptree>=2.20.0  # ENSURE-LINE
pyswisseph==2.10.3.2; python_version <= "3.11"  # ENSURE-LINE

-r requirements.txt

# pyproject.toml [project.optional-dependencies.dev]
pytest>=8.0.0  # ENSURE-LINE
hypothesis>=6.92.0  # ENSURE-LINE
ruff>=0.6.5
mypy>=1.10
pytest-benchmark>=4.0  # ENSURE-LINE

pytest-cov>=4.1.0  # ENSURE-LINE

genbadge[coverage]>=1.1.1  # ENSURE-LINE
